.navbar {
    background-color: #2c3e50;
}

.jumbotron {
    background-color: #1abc9c;
}

.hr-close {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    display: inline-block;
    width: 100px;
    border: 2px solid white;
    opacity: 1;
}

.hr-close .fa-solid {
    margin: 0px 20px;
}

#second-hr hr {
    border-color: black;
}

section:nth-of-type(2) {
    background-color: #1abc9c;
}

footer {
    background-color: #3a546d;
}

.row.justify-content-center.text-center.p-4 {
    background-color: #2c3e50;
}

.fa-brands {
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px 12px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.btn_send {
    background-color: #1abc9c;
    border: 0px;
}